<div class="row">
  <div class="col">

    <div id="city-search-card" class="card shadow">
      <div class="card-header">
        <input id="city-search" class="form-control form-control-lg" type="text" placeholder="miestas">
      </div>

      <!-- placeholder for results -->
      <div class="card-body d-none"></div>
    </div>

  </div>
</div>


<div class="row my-5">
  <div class="col">
    <h2 class="text-center">Didieji miestai</h2>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Vilnius</h5>
        <p class="card-text">Savaitės orų prognozė</p>
        <a href="/cities/vilnius" class="btn btn-primary">Atidaryti prognozės puslapį</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kaunas</h5>
        <p class="card-text">Savaitės orų prognozė</p>
        <a href="/cities/kaunas" class="btn btn-primary">Atidaryti prognozės puslapį</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Klaipėda</h5>
        <p class="card-text">Savaitės orų prognozė</p>
        <a href="/cities/klaipeda" class="btn btn-primary">Atidaryti prognozės puslapį</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Šiauliai</h5>
        <p class="card-text">Savaitės orų prognozė</p>
        <a href="/cities/siauliai" class="btn btn-primary">Atidaryti prognozės puslapį</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Panevežys</h5>
        <p class="card-text">Savaitės orų prognozė</p>
        <a href="/cities/panevezys" class="btn btn-primary">Atidaryti prognozės puslapį</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Utena</h5>
        <p class="card-text">Savaitės orų prognozė</p>
        <a href="/cities/utena" class="btn btn-primary">Atidaryti prognozės puslapį</a>
      </div>
    </div>
  </div>

</div>
