
<div class="row my-5">
  <div class="col">
    <h2 class="text-center">Didieji miestai</h2>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Vilnius</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/cities/vilnius" class="btn btn-primary">Išsami prognozė</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kaunas</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/cities/kaunas" class="btn btn-primary">Išsami prognozė</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Klaipėda</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/cities/klaipeda" class="btn btn-primary">Išsami prognozė</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Šiauliai</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/cities/siauliai" class="btn btn-primary">Išsami prognozė</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Panevežys</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/cities/panevezys" class="btn btn-primary">Išsami prognozė</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Utena</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/cities/utena" class="btn btn-primary">Išsami prognozė</a>
      </div>
    </div>
  </div>

</div>


<!--<div class="row">-->
<!--  <div class="col">-->

<!--    <div id="city-search" class="card">-->
<!--      <div class="card-header">-->
<!--        <input class="form-control form-control-lg" type="text" placeholder="miestas">-->
<!--      </div>-->

<!--      <div class="card-body">-->
<!--        <div class="list-group list-group-flush">-->
<!--          <a href="#" class="list-group-item list-group-item-action">miestas 1</a>-->
<!--          <a href="#" class="list-group-item list-group-item-action">miestas 2</a>-->
<!--          <a href="#" class="list-group-item list-group-item-action">miestas 3</a>-->
<!--          <a href="#" class="list-group-item list-group-item-action">miestas 4</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
