@import "~bootstrap/scss/bootstrap";

#city-search-card .card-body {
  padding: 1px;
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

#city-search-card .card-header {
  border-bottom: none;
}
